
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
	<script type="text/javascript">
		function loadCategories() {
			$("#loading").show();
			$.ajax({
				type: "Get",
				url: "/Category/Get",
				success: function (data) {
					$("#values").html("");
					$.each(data, function (index, item) {
						let comment = `
											<tr>
												<td>${index}</td>
												<td>${item.categoryName}</td>
												<td><i onclick="Delete(${item.categoryId})" type="button" class="bx bx-trash" /></td>
												<td><i onclick="getCategory(${item.categoryId})" data-bs-toggle="modal" data-bs-target="#modalCategory" type="button" type="button" class="bx bxs-edit" /></td>
											</tr>
										`;
						$("#values").append(comment);
					});
					$("#loading").hide();
				},
				error: function (e) {
					console.log(e);
				}
			})
		}
		loadCategories();
		function Add() {
			var name = $("#categoryName").val();

			var jsonData = { "categoryName": name };

			$.ajax({
				type: "POST",
				url: "/Category/Add",
				data: jsonData,
				success: function (data) {
					console.log("Eklendi");
					loadCategories();
				},
				error: function (e) {
					console.log(e);
				}
			})
		}
		function Delete(id) {
			$.ajax({
				type: "Delete",
				url: "/Category/Delete",
				data: { id: id },
				success: function (data) {
					loadCategories();
				},
				error: function (e) {
					console.log(e);
				}
			})
		}
		function getCategory(id) {
			$.ajax({
				type: "Get",
				url: `/Category/GetById/`,
				data: { id: id },
				success: function (data) {
					$("#modalBodyValues").html("");
					$("#modalFooterValues").html("");
					let category = `
									<input type="hidden" id="id"  value="${data.categoryId}" />
									<input type="text" id="categoryName" class="form-control mb-2" value="${data.categoryName}"  placeholder="Ürün adı" required />
					`;
					let foot = `
						<button type="submit" class="btn btn-success" data-bs-dismiss="modal" onclick="Update()">Kaydet</button>
						<button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
					`;
					$("#modalBodyValues").append(category);
					$("#modalFooterValues").append(foot);
				},
				error: function (e) {
					console.log(e);
				}
			})
		}
		function Update() {
			var name = $("#categoryName").val();
			var id = $("#id").val();

			var jsonData = { "categoryId": id, "categoryName": name };

			$.ajax({
				type: "POST",
				url: "/Category/Update",
				data: jsonData,
				success: function (data) {
					console.log("Güncellendi");
					loadCategories();
				},
				error: function (e) {
					console.log(e);
				}
			})
		}
		function clearModal(){
			$("#modalBodyValues").html("");
			$("#modalFooterValues").html("");
			let category = `
					<input type="text" id="categoryName" class="form-control mb-2" placeholder="Kategori adı" />
			`;
			let foot = `
					<button type="submit" class="btn btn-success" data-bs-dismiss="modal" onclick="Add()">Kaydet</button>
					<button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
			`;
			$("#modalBodyValues").append(category);
			$("#modalFooterValues").append(foot);
		}
	</script>
}

<h1>Kategoriler</h1>
<table class="table table-primary text-center">
	<thead>
		<tr>
			<th>Id</th>
			<th>Kategori</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody id="values">
	</tbody>
</table>
<div id="loading" class="text-center">
	<div class="spinner-border" role="status">
		<span class="sr-only"></span>
	</div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCategory" onclick="clearModal()">Ürün Ekle</button>
<div class="modal" id="modalCategory" tabindex="-1" aria-labelledby="modalCategoryLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Kategori Bilgileri</h1>
			</div>
			<div>
				<div id="modalBodyValues" class="modal-body">
				</div>
			</div>
			<div id="modalFooterValues" class="modal-footer">
			</div>
		</div>
	</div>
</div>