@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function loadProducts() {
            $.ajax({
                type: "Get",
                url: "/Category/GetWithProduct/",
                data: { name: "" },
                success: function (data) {
                    $.each(data, function (index, item) {
                        console.log(item);
                    });
                },
                error: function (e) {
                    console.log(e);
                }
            })
        }
        loadProducts();
    </script>
</head>
<body>
</body>
</html>
