body {
    background-color: #1f2029;
    color: #fff;
}
.ozet {
    font-family: 'Lucida Handwriting';
    cursor: pointer;
    margin: -1%;
    padding: 8px 10px;
}
.items {
    font-family: cursive;
}
.akerdion {
    margin: 2px;
    padding: 1.04%;
}

@media only screen and (max-width: 500px) {
    .ozet {
        font-size: 20px !important;
    }

    .items {
        font-size: 15px !important;
    }
}
