html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #DCDCDC, #1f2029);
    color: #fff;
}
summary {
    color: #FFCC99;
}
.borders {
    border-bottom: 3px solid #FFCC99;
}
.ozet {
    font-family: 'Lucida Handwriting';
    cursor: pointer;
    margin: -1%;
    padding: 8px 10px;
    /*background-image: url("../img/muhallebi.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 30px;*/
}
.items {
    font-family: cursive;
}
.akerdion {
    margin: 2px;
    padding: 1.04%;
}

@media only screen and (max-width: 500px) {
    .ozet {
        font-size: 20px !important;
    }

    .items {
        font-size: 15px !important;
    }
}
