﻿@using EntityLayer.Concrete
@model User

@{
    ViewData["Title"] = "Login";
    if (ViewBag.Message != null)
    {
        <p>@ViewBag.Message</p>
    }
}

<h1>Login</h1>

<form asp-controller="User" asp-action="Login" method="post">
    <input asp-for="UserName" placeholder="Adınız" />
    <input type="password" asp-for="Password" placeholder="Parolanız" />
    <input type="submit" value="Giriş Yap" />
</form>