@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success text-center" role="alert">
            @ViewBag.Message
        </div>
    }
}

<div class="container col-9 mt-4">
    <div class="row row-fluid-cols-5 justify-content-md-center">
        <form asp-action="Update" method="post">
            <div class="col-lg-auto">
                <h1>Şifre yenileme</h1>
            </div>
            <div class="col-lg-auto">
                <input type="password" class="form-control mb-2" name="password" placeholder="Yeni Parolanız" />
            </div>
            <div class="col-lg-auto">
                <input type="submit" class="btn btn-primary" style="width: 200px;" value="Güncelle" />
            </div>
        </form>
    </div>
</div>
