@using EntityLayer.Concrete
@model Product

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script type="text/javascript">
        function loadProducts() {
            $("#loading").show();
            var search = $("#search").val();
            $.ajax({
                type: "Get",
                url: `/Product/Get/`,
                data: { name: search },
                success: function (data) {
                    $("#values").html("");
                    $.each(data, function (index, item) {
                        let product = `
                                            <tr>
                                                <td>${index+1}</td>
                                                <td>${item.productName}</td>
                                                <td>${item.description}</td>
                                                <td>${item.price}</td>
                                                <td>${item.categories.categoryName}
                                                <td><img src="/Images/Product/${item.image}" class="border border-dark m-2" /></td>
                                                <td><i onclick="Delete(${item.productId})" type="button" class="bx bx-trash" /></td>
                                                <td><i onclick="getProduct(${item.productId})" data-bs-toggle="modal" data-bs-target="#updateProduct" type="button" class="bx bxs-edit" /></td>
                                            </tr>
                                        `;
                        $("#values").append(product);
                    });
                    $("#loading").hide();
                },
                error: function (e) {
                    console.log(e);
                }
            })
        }

        function getProduct(id) {
            $.ajax({
                type: "Get",
                url: `/Product/GetById/`,
                data: { id: id },
                success: function (data) {
                    console.log(data);
                    $("#modalBody").html("");
                    let body = `
                                        <input type="hidden" id="method"  value="Update" />
                                        <input type="hidden" id="id"  value="${data.productId}" />
                                        <input id="name" class="form-control mb-2" placeholder="Ürün adı" value="${data.productName}" required />
                                        <input id="description" class="form-control mb-2" placeholder="Ürün açıklaması" value="${data.description}" required />
                                        <input id="price" class="form-control mb-2" placeholder="Ürün fiyatı" value="${data.price}" required />
                                        <input type="file" id="file" class="form-control" />
                                    `;
                    $("#modalBody").append(body);
                },
                error: function (e) {
                    console.log(e);
                }
            })
        }

        loadProducts();

        function Delete(id) {
            $.ajax({
                type: "POST",
                url: `/Product/Delete/`,
                data: { id: id },
                success: function (data) {
                    loadProducts();
                },
                error: function (e) {
                    console.log(e);
                }
            })
        }

        function clearModal() {
            $("#modalBody").html("");
            let body = `
                        <input type="hidden" id="method" value="Add" />
                        <input id="name" class="form-control mb-2" placeholder="Ürün adı" required />
                        <input id="description" class="form-control mb-2" placeholder="Ürün açıklaması" required />
                        <input id="price" class="form-control mb-2" placeholder="Ürün fiyatı" required />
                        <select id="category" class="form-select mb-2"></select>
                        <input type="file" id="file" class="form-control" />
                `;
            $("#modalBody").append(body);
            $.ajax({
                type: "Get",
                url: `/Category/Get/`,
                success: function (data) {
                    $.each(data, function (index, item) {
                        let categories = `
                                <option value="${item.categoryId}">${item.categoryName}</option>
                            `;
                        $("#category").append(categories);
                    });
                },
                error: function (e) {
                    console.log(e);
                }
            })
        }

        $(document).ready(function () {
            $("#uploadButton").click(function () {
                var method = $("#method").val();
                var id = $("#id").val();
                var name = $("#name").val();
                var des = $("#description").val();
                var pr = $("#price").val();
                var ct = $("#category").val();
                var fileInput = document.getElementById("file");
                var file = fileInput.files[0];

                var formData = new FormData();
                formData.append("file", file);
                formData.append("ProductId", id);
                formData.append("ProductName", name);
                formData.append("Description", des);
                formData.append("Price", pr);
                formData.append("CategoryId", ct);


                $.ajax({
                    url: `/Product/${method}`,
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (response) {
                        console.log(response);
                        loadProducts();
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>
}

<h1>Ürünler</h1>

<div class="search mb-4">
    <input id="search" type="text" placeholder="Arama..." />
    <i onclick="loadProducts()" type="button" class="bx bx-search"></i>
</div>

<table class="table table-striped text-center">
    <thead class="table-warning">
        <tr>
            <th>#</th>
            <th>Ürün Ad</th>
            <th>Ürün Açıklama</th>
            <th>Ürün Fiyatı</th>
            <th>Kategori</th>
            <th>Resim</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="values">
    </tbody>
</table>
<div id="loading" class="text-center">
    <div class="spinner-border" role="status">
        <span class="sr-only"></span>
    </div>
</div>

<button type="button" class="btn btn-primary mb-5" data-bs-toggle="modal" data-bs-target="#updateProduct" onclick="clearModal()">Ürün Ekle</button>

<div class="modal fade" id="updateProduct" tabindex="-1" aria-labelledby="updateProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Ürün Bilgileri</h1>
            </div>
            <form id="productForm" enctype="multipart/form-data">
                <div id="modalBody" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="uploadButton" data-bs-dismiss="modal">Kaydet</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </form>
        </div>
    </div>
</div>