@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="tr">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="icon" type="image/x-icon" href="~/logo.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <div class="col-lg-12 text-center" style="padding: 0 12px;">
        <a asp-controller="Product" asp-action="Admin">
            <img src="~/logo.png" width="45%" />
        </a>
    </div>
    <div id="categories" class="container-fluid">
        <div id="loading" class="text-center">
            <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function loadProducts() {
            $("#loading").show();
            $.ajax({
                type: "Get",
                url: "/Category/Get/",
                data: { name: "" },
                success: function (data) {
                    $.each(data, function (index, item) {
                        let category = 
                        `
                            <div data-category-id="${item.categoryId}" class="category">
                                <div class="heading" onclick="menuOpen('${item.categoryId}')">
                                    <h3>${item.categoryName}</h3>
                                    <img src="/Images/Category/${item.categoryImage}">
                                </div>
                            </div>
                        `;
                        $("#categories").append(category);
                        let $currentCategory = $(`#${item.categoryName}`);
                        let products = '';
                        $.each(item.products, function (index, productItem) {
                            products += 
                            `
                                <div class="item">
                                    <div class="col-12">
                                        <img src="/Images/Product/${productItem.image}">
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="mt-1 mb-1">${productItem.productName}</p>
                                        <button class="contentBtn" data-text="${productItem.description}">İçindekiler</button>
                                        <label class="price">${productItem.price} TL</label>
                                    </div>
                                </div>
                            `;
                        });
                        let proCont =
                        `
                            <div class="item_container">
                                ${products}
                            </div>
                        `;
                        $(`[data-category-id="${item.categoryId}"]`).append(proCont);
                    });
                    $("#loading").hide();
                },
                error: function (e) {
                    console.log(e);
                }
            })
        }
        loadProducts();

        function menuOpen(id) {
            var menuBar = document.querySelectorAll(`[data-category-id="${id}"] .item`);
            menuBar.forEach(function (item) {
                if (item.style.maxHeight === "0px" || item.style.maxHeight === "") {
                    item.style.display = "block"
                    item.style.maxHeight = item.scrollHeight + "px";
                } else {
                    item.style.maxHeight = "0px";
                    item.style.display = "none"
                }
            });
        }

        window.onclick = function (event) {
            if (event.target.closest('.swal2-container')) return;

            if (!event.target.matches('.category') && !event.target.closest('.category')) {
                var dropdowns = document.getElementsByClassName("item");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.style.maxHeight !== "0px" && openDropdown.style.maxHeight !== "") {
                        openDropdown.style.maxHeight = "0px";
                        openDropdown.style.display = "none";
                    }
                }
            }
        };


        document.addEventListener("click", function (e) {
            if (e.target && e.target.classList.contains("contentBtn")) {
                const msg = e.target.getAttribute("data-text");
                Swal.fire({
                    text: msg,
                    confirmButtonText: 'Tamam'
                });
            }
        });
    </script>
</body>
</html>